body {
  background: #333;
}

h1, h2, h3, h4, p, span, a {
  font-family: 'Source Sans Pro', sans-serif;
}

.dash-menu {
  background: #3584cd;
  overflow: hidden;
  color: white;
  min-height: 768px;
}
.dash-menu .logo {
  width: 175px;
  height: 60px;
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  margin: 20px auto;
}
.dash-menu ul {
  margin: 0;
  padding: 0;
}
.dash-menu ul li {
  list-style: none;
  float: left;
  width: 100%;
  padding: 5px;
}
.dash-menu ul li:hover {
  background: #1f507d;
  cursor: pointer;
}

.form-control--hibeats {
  margin-top: 15px;
  background: black;
  color: white;
  font-size: 2em;
  padding: 28px;
  border-color: #333;
}

ul.result-list {
  margin: 0;
  padding: 10px;
}
ul.result-list li {
  float: left;
  width: 100%;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #4d4d4d;
}
ul.result-list li:hover {
  background: #3584cd;
}
ul.result-list li:hover .item-info, ul.result-list li:hover .popularity {
  color: white;
}
ul.result-list li:hover .popularity {
  border: 1px solid white;
}
ul.result-list li img {
  width: 100px;
  float: left;
}
ul.result-list li .item-info {
  width: 40%;
  float: left;
  color: white;
  padding-left: 10px;
}
ul.result-list li .item-info h3 {
  margin: 20px 0 0 0;
}
ul.result-list li .popularity {
  width: 150px;
  float: right;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2em;
  margin: 30px 15px 15px 15px;
  text-align: center;
  border: 1px solid white;
  color: white;
}

ul.result-list.result-list--album li img, ul.result-list.result-list--track li img {
  border-radius: 0;
}

.album-detail {
  margin: 20px auto;
  padding: 15px;
}
.album-detail h2 {
  color: white;
}
.album-detail .album-info {
  float: left;
}
.album-detail .album-info img {
  width: 320px;
  float: left;
  margin-bottom: 10px;
}
.album-detail .album-info h2 {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}
.album-detail .album-info p {
  color: white;
  text-align: center;
}
.album-detail ul.track-list {
  width: 500px;
  float: left;
  padding-left: 10px;
}
.album-detail ul.track-list li {
  width: 100%;
  list-style: none;
  font-size: 1em;
  padding: 5px;
  color: white;
  margin-bottom: 5px;
}
.album-detail ul.track-list li:hover {
  background: #3584cd;
  color: white;
}

.artist-detail {
  border-top: 1px solid white;
}
.artist-detail h2 {
  color: white !important;
  text-align: center;
  font-size: 4em;
}
.artist-detail .favorite-ctrl {
  width: 30%;
  margin: auto;
}
.artist-detail .result-list.result-list--album li {
  width: 200px;
  float: left;
}
.artist-detail .result-list.result-list--album li img {
  width: 100%;
  margin-bottom: 0;
}
.artist-detail .result-list.result-list--album li .item-info {
  width: 100%;
  padding-left: 0px;
}
.artist-detail .result-list.result-list--album li .item-info h3 {
  margin-top: 8px;
  text-align: center;
}

.btn-hibeats {
  outline: none !important;
  background: transparent;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.btn-hibeats:hover {
  color: #3584cd;
}
.btn-hibeats:focus {
  color: white;
}

.btn-hibeats.active {
  border-top: 2px solid #3584cd;
  border-bottom: 2px solid #3584cd;
}

.btn-favorite {
  outline: none !important;
  background: #3584cd;
  color: white;
  transition: all ease 0.4s;
}
.btn-favorite:hover {
  background: #296aa6;
  color: white;
}
