
$cor-preta: #333;
$cor-branca: white;
$cor-vermelha-hot: #af3535;
$cor-amarelo-regular: gold;
$cor-roxa-cool:#ad61b9;
$cor-azul-padrao: #3584cd;

body{
    background: $cor-preta;
}

h1, h2, h3, h4, p, span, a{
    font-family: 'Source Sans Pro', sans-serif;
}

.login-box{
    background:$cor-branca;
    border-radius: 4px;
    padding:10px;
    margin-top:100px !important;
    font-family: 'Source Sans Pro', sans-serif;
    h1{
        text-align: center;
        margin:20px auto;
    }
}

.dash-menu{
    background:$cor-azul-padrao;
    overflow:hidden;
    color:$cor-branca;
    min-height:768px;

    .logo{
        width:175px;
        height:60px;
        float: left;
        //background-image: url('../img/logo.png');
        background-repeat:no-repeat;
        margin:20px auto;
    }

    ul{
        margin:0; padding:0;
        li{
            list-style: none;
            float: left;
            width: 100%;
            padding:5px;
            a{
              color:$cor-branca;
              text-decoration: none;
            }
            &:hover{
                background: darken($cor-azul-padrao, 20%);
                cursor: pointer;
            }
        }
    }
}


.form-control--hibeats{
    outline: none !important;
    margin-top:15px;
    background: darken($cor-preta, 20%);
    color:$cor-branca;
    font-size:1.8em;
    padding:10px;
    border-color: $cor-preta;
    &:focus{
        background: darken($cor-preta, 10%);
        color:$cor-azul-padrao;
    }
}


ul.result-list{
    margin:0;
    padding:10px;
    li{
        float:left;
        width:48%;
        margin:1%;
        height:140px;
        list-style: none;
        padding: 15px;
        border-bottom: 1px solid lighten($cor-preta, 10%);
        transition: ease 0.2s;
        cursor: pointer;
        &:hover{
            background:$cor-azul-padrao;
            .item-info, p > span, .popularity{
                color:$cor-branca !important;
            }

            .popularity{
                border: 1px solid $cor-branca;
            }

        }
        .img{
            width:110px;
            height:110px;
            background-size:cover;
            background-repeat: no-repeat;
            float: left;
            border-radius: 100px;
        }
        .item-info{
            width:40%;
            float:left;
            color:$cor-branca;
            padding-left:10px;
            h3{
                margin:0;
                font-size: 1.4em;
            }
            p{
              line-height: 18px;
              span{ font-style: italic; color: lighten($cor-preta, 30%); }
            }

        }

        .popularity{
            width:130px;
            float:right;
            padding:4px 8px;
            border-radius: 4px;
            font-size: 0.9em;
            margin:30px 15px 15px 15px;
            text-align: center;
            border: 1px solid $cor-branca;
            color:$cor-branca;
        }

        .hot, .hot i{ color: $cor-vermelha-hot}
        .cool, .cool i {color: $cor-roxa-cool}
        .regular, .regular i {color: $cor-amarelo-regular}
    }
}

ul.result-list.result-list--album, ul.result-list.result-list--track{
    li{
        .img{
            border-radius: 0 !important;
        }
    }
}

.album-detail{
    margin:20px auto;
    padding:15px;
    padding-top:5px;
    h2{
      color:$cor-branca !important;
      text-align: center;
      font-size: 3em;
      margin-top:0px;
      margin-bottom: 30px;
    }
    .album-info{
        float: left;
        img{
            width:320px;
            float:left;
            margin-bottom: 10px;
        }
        h2{
            color:$cor-branca;
            text-align: center;
            margin-bottom: 0px;
        }
        p{color:$cor-branca; text-align:center;}
    }

    ul.track-list{
        width:500px;
        float: left;
        padding-left: 10px;
        li{
            width:100%;
            list-style:none;
            font-size: 1em;
            padding:5px;
            color:$cor-branca;
            margin-bottom: 5px;
            &:hover{
                background:$cor-azul-padrao;
                color:$cor-branca;
            }
        }
    }

}

.artist-detail{
    h2{
        color:$cor-branca !important;
        text-align: center;
        font-size: 4em;
    }

    .favorite-ctrl{
        width:30%;
        margin:auto;
    }

    .result-list.result-list--album{
        li{
            width: 200px;
            height: 280px;;
            float:left;
            transition: ease 0.4s;
            padding:0px;
            margin:10px;
            &:hover{
              background: none;
              img{
                opacity: 0.5;
              }
            }
            img{
                width: 100%;
                margin-bottom: 0;
                transition: ease 0.4s;
            }
            .item-info{
                width: 100%;
                padding-left: 0px;
                h3{
                    margin-top:5px;
                    text-align: center;
                    font-size: 0.9em;
                }
            }
        }

    }
}

//  HELPERS

.col-center{
    float: none;
    margin: auto;
}


.btn-hibeats{
    transition: all ease 0.3s;
    outline: 0;
    background: transparent;
    color:$cor-branca;
    border-bottom: 4px solid $cor-branca;
    margin: 5px;
    &:hover {
        color:$cor-azul-padrao;
    }
    &:focus{
        outline: 0;
        color: $cor-branca;
    }
}

.btn-hibeats.active{
    border-bottom: 4px solid $cor-azul-padrao;
}

.btn-favorite{
    outline: none !important;
    background: $cor-azul-padrao;
    color: $cor-branca;
    transition: all ease 0.4s;
    &:hover{
        background: darken($cor-azul-padrao, 10%);
        color:$cor-branca;
    }
}

.btn-login-spotify{
    span{
        padding-left:10px;
        margin-top:-10px;
        display: inline-block;
    }
    svg{
        display: inline-block;
        float: left;
        margin-right: 10px;
    }
}

// Animations
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
